<ion-header>
  <ion-toolbar>
    <ion-title>Test Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
     <ion-row class="img-row left-div">
       <ion-col size="5" >
            <img class="first-img" src="/assets/icon/planet.png" alt="">
       </ion-col>
       <ion-col size="5">
        <p>Applied Chemistry</p>
        <b style="color: #0057D8;">15 Tests ></b>
       </ion-col>
      <ion-col>
        <img style="margin-top: 29px;" src="/assets/icon/Mask Group 9 (2).svg" alt="">
      </ion-col>
     </ion-row>

     <ion-row class="img-row left-div">
      <ion-col size="5" >
           <img class="first-img" src="/assets/icon/triangle.png" alt="">
      </ion-col>
      <ion-col size="5">
       <p>Applied Chemistry</p>
       <b style="color: #0057D8;">15 Tests ></b>
      </ion-col>
     <ion-col>
       <img style="margin-top: 29px;" src="/assets/icon/Mask Group 9 (2).svg" alt="">
     </ion-col>
    </ion-row>

    <ion-row class="img-row left-div">
      <ion-col size="5" >
           <img class="first-img" src="/assets/icon/planet.png" alt="">
      </ion-col>
      <ion-col size="5">
       <p>Applied Chemistry</p>
       <b style="color: #0057D8;">15 Tests ></b>
      </ion-col>
     <ion-col>
       <img style="margin-top: 29px;" src="/assets/icon/Mask Group 9 (2).svg" alt="">
     </ion-col>
    </ion-row>

    <ion-row class="img-row left-div">
     <ion-col size="5" >
          <img class="first-img" src="/assets/icon/triangle.png" alt="">
     </ion-col>
     <ion-col size="5">
      <p>Applied Chemistry</p>
      <b style="color: #0057D8;">15 Tests ></b>
     </ion-col>
    <ion-col>
      <img style="margin-top: 29px;" src="/assets/icon/Mask Group 9 (2).svg" alt="">
    </ion-col>
   </ion-row>

   <ion-row class="img-row left-div">
    <ion-col size="5" >
         <img class="first-img" src="/assets/icon/planet.png" alt="">
    </ion-col>
    <ion-col size="5">
     <p>Applied Chemistry</p>
     <b style="color: #0057D8;">15 Tests ></b>
    </ion-col>
   <ion-col>
     <img style="margin-top: 29px;" src="/assets/icon/Mask Group 9 (2).svg" alt="">
   </ion-col>
  </ion-row>

  <ion-row class="img-row left-div">
   <ion-col size="5" >
        <img class="first-img" src="/assets/icon/triangle.png" alt="">
   </ion-col>
   <ion-col size="5">
    <p>Applied Chemistry</p>
    <b style="color: #0057D8;">15 Tests ></b>
   </ion-col>
  <ion-col>
    <img style="margin-top: 29px;" src="/assets/icon/Mask Group 9 (2).svg" alt="">
  </ion-col>
 </ion-row>

 <ion-row class="img-row left-div">
  <ion-col size="5" >
       <img class="first-img" src="/assets/icon/planet.png" alt="">
  </ion-col>
  <ion-col size="5">
   <p>Applied Chemistry</p>
   <b style="color: #0057D8;">15 Tests ></b>
  </ion-col>
 <ion-col>
   <img style="margin-top: 29px;" src="/assets/icon/Mask Group 9 (2).svg" alt="">
 </ion-col>
</ion-row>

<ion-row class="img-row left-div">
 <ion-col size="5" >
      <img class="first-img" src="/assets/icon/triangle.png" alt="">
 </ion-col>
 <ion-col size="5">
  <p>Applied Chemistry</p>
  <b style="color: #0057D8;">15 Tests ></b>
 </ion-col>
<ion-col>
  <img style="margin-top: 29px;" src="/assets/icon/Mask Group 9 (2).svg" alt="">
</ion-col>
</ion-row>

<ion-row class="img-row left-div">
  <ion-col size="5" >
       <img class="first-img" src="/assets/icon/planet.png" alt="">
  </ion-col>
  <ion-col size="5">
   <p>Applied Chemistry</p>
   <b style="color: #0057D8;">15 Tests ></b>
  </ion-col>
 <ion-col>
   <img style="margin-top: 29px;" src="/assets/icon/Mask Group 9 (2).svg" alt="">
 </ion-col>
</ion-row>

<ion-row class="img-row left-div">
 <ion-col size="5" >
      <img class="first-img" src="/assets/icon/triangle.png" alt="">
 </ion-col>
 <ion-col size="5">
  <p>Applied Chemistry</p>
  <b style="color: #0057D8;">15 Tests ></b>
 </ion-col>
<ion-col>
  <img style="margin-top: 29px;" src="/assets/icon/Mask Group 9 (2).svg" alt="">
</ion-col>
</ion-row>

<ion-row class="img-row left-div">
  <ion-col size="5" >
       <img class="first-img" src="/assets/icon/planet.png" alt="">
  </ion-col>
  <ion-col size="5">
   <p>Applied Chemistry</p>
   <b style="color: #0057D8;">15 Tests ></b>
  </ion-col>
 <ion-col>
   <img style="margin-top: 29px;" src="/assets/icon/Mask Group 9 (2).svg" alt="">
 </ion-col>
</ion-row>

<ion-row class="img-row left-div">
 <ion-col size="5" >
      <img class="first-img" src="/assets/icon/triangle.png" alt="">
 </ion-col>
 <ion-col size="5">
  <p>Applied Chemistry</p>
  <b style="color: #0057D8;">15 Tests ></b>
 </ion-col>
<ion-col>
  <img style="margin-top: 29px;" src="/assets/icon/Mask Group 9 (2).svg" alt="">
</ion-col>
</ion-row>
  </ion-grid>

</ion-content>

