<ion-header>
  <ion-toolbar>
    <ion-title>Test Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
     <ion-row>
       <ion-col size="11"  class="left-div">
         <ion-row>
           <ion-col size="4">
            <img  src="/assets/icon/planet.svg" alt="">
           </ion-col>
           <ion-col size="8" class="design-img">
            <!-- <img class="user-img" src="/assets/planet.svg" alt=""> -->
           </ion-col>
         </ion-row>
       </ion-col>

     </ion-row>
  </ion-grid>

</ion-content>

