
.info-btn{
    background-color: #2196f33d;
   width: 160px;
   height: 24px;
   font-family: inherit;
   color: #2196f3;
   border: 2px solid #2196f3;
   font-size: 12px;
   border-radius: 3px;
}
.info-btn2{
background-color: #2196f31a;
width: 146px;
height: 24px;
font-family: inherit;
color: #2196f3;
font-size: 12px;
}
.info-col{
padding-top: 20px;
}
.slide-div{
    background-color: #2196f3d6;
    width: 369px;
    height: 216px;
    border-radius: 16px;
}