<ion-header>
  <ion-toolbar>
    <ion-title>wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-slides pager="true" >
          <ion-slide>
           <img src="\assets\icon\photo-1522010265321-fd346c.png" alt="">
          </ion-slide>
          <ion-slide>
            <img src="\assets\icon\photo-1522010265321-fd346c.png" alt="">
          </ion-slide>
          <ion-slide>
            <img src="\assets\icon\photo-1522010265321-fd346c.png" alt="">
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col size="12" offset="1" class="info-col">
        <button class="info-btn">Leader Board</button>
        <button class="info-btn2">Correct Answer</button>
      </ion-col>
      <ion-col size="12">
        <ion-slides pager="true" >
          <ion-slide>
          <div class="slide-div">
            <img style="float: right;" src="\assets\icon\Mask Group 12.svg" alt="">
          </div>
          </ion-slide>
          <ion-slide>
            <div class="slide-div">
              <img src="\assets\icon\Mask Group 12.svg" alt="">
            </div>
          </ion-slide>
          <ion-slide>
            <div class="slide-div">
              <img src="\assets\icon\Mask Group 12.svg" alt="">
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
