

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" style="height: 279px;">
        <div class="first-div">
          <img class="google-img" src="/assets/icon/Mask Group 37.svg">
         </div>
         <div class="main-div">
           <div >
             <img class=" ractangle-icon" src="/assets/Rectangle 85.svg">
           </div>
           <h6>YOUR LOGO</h6>
           <div>
            <img class="third-imgg" src="/assets/icon/Mask Group 36.svg">
           </div>
         </div>
      </ion-col>
    </ion-row>
   
    <ion-row >
      
      <ion-col size="8" offset="2">
        <ion-label>Email</ion-label>
        <ion-item class="input-design">
          <ion-input value="niki@gmail.com"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col  size="8" offset="2">
        <ion-label>Password</ion-label>
        <ion-item class="input-design">
          <ion-input value="92000"></ion-input ><ion-icon name="eye"></ion-icon>
        </ion-item>
        <span>  forget password??</span>
      </ion-col>
      <ion-col  size="12" class="login-col" >
        <ion-button  class="login-btn">Login</ion-button>
      </ion-col >
      <ion-col size="6" class="left-button">
        <ion-button color="primary" class="login2-btn"><img class="google-img" src="/assets/icon/Mask Group 31.svg">login with google</ion-button>
      </ion-col>
      <ion-col size="6" class="right-button">
        <ion-button color="primary" class="login2-btn"><img class="google-img" src="/assets/icon/Mask Group 30 (1).svg">login with facebook</ion-button>
      </ion-col>
    </ion-row>
   <ion-row>
    <ion-col size="12" class="register-col">
      not a member already? <b>Register</b>
    </ion-col>
   </ion-row>  
  </ion-grid>
  
</ion-content>
