<ion-header>
  <ion-toolbar>
    <ion-title>applies-chemistry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
  <ion-row class="main-row">
     <ion-col size="12">
      <img class="first-img" src="/assets/icon/users.png" alt="">
     </ion-col>
     <ion-col style="color: #3E618D; font-weight: 600; padding-left: 10px;
     padding-right: 10px;">
      <img  src="/assets/badge.svg" alt=""> &nbsp; <span>₹ 15,000</span><span>&nbsp; &nbsp;.</span>&nbsp; &nbsp;<span>₹ 5,000</span><span>&nbsp; &nbsp;.</span>&nbsp; &nbsp;<span>₹ 2,000</span>
      <p class="oxidation">Oxidation & Reduction in HydroCarbons</p>
      <span style="text-align: left;">know more</span><span style="float: right;">subscribe for ₹ 10.00 ></span>
    </ion-col>
  </ion-row>

  <ion-row class="main-row">
    <ion-col size="12">
     <img class="first-img" src="/assets/icon/users.png" alt="">
    </ion-col>
    <ion-col style="color: #3E618D; font-weight: 600; padding-left: 10px;
    padding-right: 10px;">
     <img  src="/assets/badge.svg" alt=""> &nbsp; <span>₹ 15,000</span><span>&nbsp; &nbsp;.</span>&nbsp; &nbsp;<span>₹ 5,000</span><span>&nbsp; &nbsp;.</span>&nbsp; &nbsp;<span>₹ 2,000</span>
     <p class="oxidation">Oxidation & Reduction in HydroCarbons</p>
     <span style="text-align: left;">know more</span><span style="float: right;">subscribe for ₹ 10.00 ></span>
   </ion-col>
 </ion-row>

 <ion-row class="main-row">
  <ion-col size="12">
   <img class="first-img" src="/assets/icon/users.png" alt="">
  </ion-col>
  <ion-col style="color: #3E618D; font-weight: 600; padding-left: 10px;
  padding-right: 10px;">
   <img  src="/assets/badge.svg" alt=""> &nbsp; <span>₹ 15,000</span><span>&nbsp; &nbsp;.</span>&nbsp; &nbsp;<span>₹ 5,000</span><span>&nbsp; &nbsp;.</span>&nbsp; &nbsp;<span>₹ 2,000</span>
   <p class="oxidation">Oxidation & Reduction in HydroCarbons</p>
   <span style="text-align: left;">know more</span><span style="float: right;">subscribe for ₹ 10.00 ></span>
 </ion-col>
</ion-row>

 
  </ion-grid>

</ion-content>
