
<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-buttons>
    <ion-title>
      MY FIRST IONIC APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet ></ion-router-outlet>
</ion-content>

<!-- Footer without a border -->
<!-- <ion-footer class="ion-no-border">
  <ion-toolbar> -->
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="profile">
          <img  src="/assets/icon/Mask Group 32.svg">
          <ion-label>Home</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="category">
          <img  src="/assets/icon/Mask Group 33.svg">
          <ion-label>Category</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="wallet">
          <img  src="/assets/icon/Mask Group 35.svg">
          <ion-label>Wallet</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="controles">
          <img  src="/assets/icon/Mask Group 34.svg">
          <ion-label>Profile</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>   
    <!-- <app-tab></app-tab> -->
  <!-- </ion-toolbar>
</ion-footer> -->
