<ion-header>
  <ion-toolbar>
    <ion-title>Test Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
     <ion-row>
       <ion-col size="5"  class="left-div">
         <ion-row>
           <ion-col size="2">
            <img  src="/assets/Union 2.svg" alt="">
           </ion-col>
           <ion-col size="10" class="design-img">
            <img class="user-img" src="/assets/Mask Group 9.svg" alt="">
           </ion-col>
           <ion-col size="11">
             <p class="p-design">Applied Category</p>
             <span class="second-p">15 test available <ion-icon name="chevron-forward-outline"></ion-icon></span>
           </ion-col>
         </ion-row>
       </ion-col>
       <ion-col size="5"   class="right-div">
        <ion-row>
          <ion-col size="2">
           <img  src="/assets/Union 2.svg" alt="">
          </ion-col>
          <ion-col size="10" class="design-img">
           <img class="user-img" src="/assets/Mask Group 9.svg" alt="">
          </ion-col>
          <ion-col size="11">
            <p class="p-design">Applied Category</p>
            <span class="second-p">15 test available <ion-icon name="chevron-forward-outline"></ion-icon></span>
          </ion-col>
        </ion-row>
       </ion-col>
       <ion-col size="5"  class="left-div">
        <ion-row>
          <ion-col size="2">
           <img  src="/assets/Union 2.svg" alt="">
          </ion-col>
          <ion-col size="10" class="design-img">
           <img class="user-img" src="/assets/Mask Group 9.svg" alt="">
          </ion-col>
          <ion-col size="11">
            <p class="p-design">Applied Category</p>
            <span class="second-p">15 test available <ion-icon name="chevron-forward-outline"></ion-icon></span>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="5"   class="right-div">
       <ion-row>
         <ion-col size="2">
          <img  src="/assets/Union 2.svg" alt="">
         </ion-col>
         <ion-col size="10" class="design-img">
          <img class="user-img" src="/assets/Mask Group 9.svg" alt="">
         </ion-col>
         <ion-col size="11">
           <p class="p-design">Applied Category</p>
           <span class="second-p">15 test available <ion-icon name="chevron-forward-outline"></ion-icon></span>
         </ion-col>
       </ion-row>
      </ion-col>
      <ion-col size="5"  class="left-div">
        <ion-row>
          <ion-col size="2">
           <img  src="/assets/Union 2.svg" alt="">
          </ion-col>
          <ion-col size="10" class="design-img">
           <img class="user-img" src="/assets/Mask Group 9.svg" alt="">
          </ion-col>
          <ion-col size="11">
            <p class="p-design">Applied Category</p>
            <span class="second-p">15 test available <ion-icon name="chevron-forward-outline"></ion-icon></span>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="5"   class="right-div">
       <ion-row>
         <ion-col size="2">
          <img  src="/assets/Union 2.svg" alt="">
         </ion-col>
         <ion-col size="10" class="design-img">
          <img class="user-img" src="/assets/Mask Group 9.svg" alt="">
         </ion-col>
         <ion-col size="11">
           <p class="p-design">Applied Category</p>
           <span class="second-p">15 test available <ion-icon name="chevron-forward-outline"></ion-icon></span>
         </ion-col>
       </ion-row>
      </ion-col>
      <ion-col size="5"  class="left-div">
        <ion-row>
          <ion-col size="2">
           <img  src="/assets/Union 2.svg" alt="">
          </ion-col>
          <ion-col size="10" class="design-img">
           <img class="user-img" src="/assets/Mask Group 9.svg" alt="">
          </ion-col>
          <ion-col size="11">
            <p class="p-design">Applied Category</p>
            <span class="second-p">15 test available <ion-icon name="chevron-forward-outline"></ion-icon></span>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="5"   class="right-div">
       <ion-row>
         <ion-col size="2">
          <img  src="/assets/Union 2.svg" alt="">
         </ion-col>
         <ion-col size="10" class="design-img">
          <img class="user-img" src="/assets/Mask Group 9.svg" alt="">
         </ion-col>
         <ion-col size="11">
           <p class="p-design">Applied Category</p>
           <span class="second-p">15 test available <ion-icon name="chevron-forward-outline"></ion-icon></span>
         </ion-col>
       </ion-row>
      </ion-col>
      <ion-col size="5"  class="left-div">
        <ion-row>
          <ion-col size="2">
           <img  src="/assets/Union 2.svg" alt="">
          </ion-col>
          <ion-col size="10" class="design-img">
           <img class="user-img" src="/assets/Mask Group 9.svg" alt="">
          </ion-col>
          <ion-col size="11">
            <p class="p-design">Applied Category</p>
            <span class="second-p">15 test available <ion-icon name="chevron-forward-outline"></ion-icon></span>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="5"   class="right-div">
       <ion-row>
         <ion-col size="2">
          <img  src="/assets/Union 2.svg" alt="">
         </ion-col>
         <ion-col size="10" class="design-img">
          <img class="user-img" src="/assets/Mask Group 9.svg" alt="">
         </ion-col>
         <ion-col size="11">
           <p class="p-design">Applied Category</p>
           <span class="second-p">15 test available <ion-icon name="chevron-forward-outline"></ion-icon></span>
         </ion-col>
       </ion-row>
      </ion-col>
     </ion-row>
  </ion-grid>

</ion-content>
