
<ion-content>
  <ion-grid>
    <ion-row class="first-row">
      <ion-col size="12">
         <ion-row>
           <ion-col size="12" class="img-col" >
   
                 <img class="user-img" src="/assets/bhagwan.jpg" alt="">
                 <div class="setting-div">
                    <!-- <ion-icon name="settings" class="settings-icon"></ion-icon> -->
                    <img class="settings-icon" src="/assets/icon/Mask Group 15.svg" alt="">
                 </div>
                 <!-- <ion-icon name="create-outline" class="edit-icon"></ion-icon> -->
                 <img class="edit-icon" src="/assets/Mask Group 20.svg" alt="">
           </ion-col>
           <ion-col size="12"  class="info-col">
             <button class="info-btn">Basic Info</button>
             <button class="info-btn2">Documents</button>
           </ion-col>
           <ion-col size="10"   class="info-div" >
            <div class="one-info">
              <p class="firstp">Name</p>
              <p class="secondp">Akash Dahiya</p>
            </div>
            <div class="one-info">
              <p class="firstp">Unique Id</p>
              <p class="secondp">123@ad</p>
            </div>
            <div class="one-info">
              <p class="firstp">Email</p>
              <p class="secondp">akash@gmail.com</p>
            </div>
            <div class="one-info">
              <p class="firstp">Mobile Number</p>
              <p class="secondp">200702808</p>
            </div>
            <div class="one-info">
              <p class="firstp">Date of birth</p>
              <p class="secondp">1 Aug 2020</p>
            </div>
            <div class="one-info">
              <p class="firstp">Mother's name</p>
              <p class="secondp">Smriti</p>
            </div>
            <div class="one-info">
              <p class="firstp">City</p>
              <p class="secondp">Bhopal</p>
            </div>
            <div class="one-info">
              <p class="firstp">Address</p>
              <p class="secondp">Saket Nagaer</p>
            </div>
            <div class="one-info">
              <p class="firstp">State</p>
              <p class="secondp">Mp</p>
            </div>
            <div class="one-info">
              <p class="firstp">Pin code</p>
              <p class="secondp">464534</p>
            </div>

           </ion-col>
         </ion-row>
      </ion-col>
    
   </ion-row>
  
  </ion-grid>
  
</ion-content>

