.img-div{
    // height: 200px;
    width: 50px;
}
.user-img{
    width: 61px;
    height: 58px;
    border-radius: 23px;
}
.img-col{
    text-align: center;
    position: relative;
}
.first-row{
    padding-top: 20px;
}
.settings-icon{
    width: 19px;
    height: 16px;
    font-size: -6px;
    background-color: white;
    color: #2196f3;
    border-radius: 12px;
    /* margin: -1px; */
    padding-top: 3px;

}
.setting-div{
    margin-top: -14px;
    padding: 0px;
    // padding-top: 3px;
    // border-radius: 17px;
    // @media only screen and (max-width: 508px) {
    //         left: 228px;
    // }
    // @media only screen and (max-width: 489px) {
    //     left: 224px;
    // }
    // @media only screen and (max-width: 477px) {
    //     left: 217px;
    // }
    // @media only screen and (max-width: 462px) {
    //     left: 209px;
    // }
    // @media only screen and (max-width: 443px) {
    //     left: 200px;
    // }
    // @media only screen and (max-width: 428px) {
    //     left: 193px;
    // }
    // @media only screen and (max-width: 411px) {
    //     left: 185px;
    // }
    // @media only screen and (max-width: 392px) {
    //     left: 176px;
    // }
    // @media only screen and (max-width: 380px) {
    //     left: 169px;
    // }
    // @media only screen and (max-width: 368px) {
    //     left: 1963px;
    // }
    // @media only screen and (max-width: 456px) {
    //     left: 155px;
    // }
    // @media only screen and (max-width: 344px) {
    //     left: 151px;
    // }
    // @media only screen and (max-width: 334px) {
    //     left: 146px;
    // }
    // @media only screen and (max-width: 322px) {
    //     left: 140px;
    // }
    // @media only screen and (max-width: 307px) {
    //     left: 132px;
    // }
    // @media only screen and (max-width: 295px) {
    //     left: 128px;
    // }
    


}

.info-btn{
        background-color: #2196f33d;
       width: 160px;
       height: 24px;
       font-family: inherit;
       color: #2196f3;
       border: 2px solid #2196f3;
       font-size: 12px;
       border-radius: 3px;
   }
.info-btn2{
    background-color: #2196f31a;
    width: 146px;
    height: 24px;
    font-family: inherit;
    color: #2196f3;
    font-size: 12px;
}
.info-col{
    padding-top: 20px;
}
.info-div{
    background-color: #2196f31f;
    margin-top: 20px;
    border-radius: 6px;
    padding-left: 20px;
}
.firstp{
    font-size: 11px;
    color: #3f51b5;
    font-family: inherit;
}
.secondp{
    font-size: 13px;
    margin-top: -5px;
    font-family: inherit;
    font-weight: 600;
    color: #3b3838f0;
}
.one-info{
    margin-top: 20px;
}
.edit-icon{
    position: absolute;
    right: 46px;
    bottom: 18px;
}